@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

.bilatuDiv {
    display:flex;
    position:realtive;
    width:70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 10%;
    flex-direction:row;
    box-shadow:
    	1px 1px 0 rgb(22, 160, 133),
    	2px 2px 0 rgb(22, 160, 133),
    	3px 3px 0 rgb(22, 160, 133),
    	4px 4px 0 rgb(22, 160, 133),
   	 	5px 5px 0 rgb(22, 160, 133),
    	6px 6px 0 rgb(22, 160, 133),
    	7px 7px 0 rgb(22, 160, 133)
    ;
}

.bilatuText {
	display: none;
    font:1.2em 'Montserrat Alternates';
	width: 130px;
	flex:1;
	padding:0.6em;
	border:0.2em solid rgb(26, 188, 156);
}

.bilatuText:focus {
	outline:0;
}