@charset "utf-8";

body {
	padding: 2%;
	background-image: url(../IMG/background.jpg);
	background-position: center;
	background-attachment: fixed;
	font-family: Calibri;
}

section {
	background-color:rgba(255, 255, 255, 0.6);
	padding: 5%;
}

.albumTable { 
	border: solid 0px black;
	max-width:100%;
	display:block;
	overflow: scroll;
    box-shadow: inset 3px 3px 10px rgba(0,0,0,0.5);
}

.titulua {
	font-variant:small-caps;
	text-decoration: none;
	color: #333333;
	transition-duration: 0.4s;
}

.titulua:hover {
	font-size: 30px;
}

.errorea {
	font: 15px arial;
	font-weight: bold;
}

.folder {
	filter: drop-shadow(2px 2px 0px #222);
	transition-duration: 0.2s;
}

.folder:active {
 	transform: translate(2px, 2px);
 	filter: none;
}

.parametroa {
	font-weight: bold;
}

#logeatzeko {
	float: center;
	padding: 0.5%;
	background-color:rgba(255, 255, 255, 0.4);
	text-align: right;
	width: 100%;
}

#edukia {
	width: 100%;
	display: inline-block;
}

#formDiv {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -25%);
	margin-left: auto;
    margin-right: auto; 
    width: 34%; 
}

#ezabatzeDiv {
	width: 90%;
	margin-top: 5%;
	background-color:rgba(255, 255, 255, 0.6);
	padding: 5%;
	display: none;
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

iframe {
	width: 100%;
	height: 150px;
	overflow: auto;
}

table, td {
	vertical-align: center;
	text-align: center;
}

td {
	padding: 1em;
}

.cursorPointer {
	cursor: pointer;
}

.cursorPointer:hover {
	border: 2px solid #4dd0e1;
    border-radius: 16px;
	background-color: #e0f7fa;
}

.albumIzena {
	text-align: center;
	transform: translate(0%, -50%);
}

.btnAtzera {
	position: absolute;
	top: 35%;
	left: 8%;
	transform: translate(-50%, -50%);
	border: none;
	background: url(../IMG/atzera.png) no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.btnGehitu {
	position: absolute;
	top: 35%;
	left: 12%;
	transform: translate(-50%, -50%);
	border: none;
	background: url(../IMG/gehitu.png) no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.btnEzabatu {
	position: absolute;
	top: 35%;
	left: 16%;
	transform: translate(-50%, -50%);
	border: none;
	background: url(../IMG/ezabatu.png) no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.btnArgIgo {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 75px;
	font-size: 16pt;
}

.argazkia {
	padding: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profilePic {
	border: 0px solid;
	border-radius: 2000px;
	background-color: white;
}
